<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Fidelisys</title>
</head>
<body>
    <main>
        <section class="imagem-formulario">
            <img src="login.jpg" alt="imagem">
        </section>
        <section class="formulario">
            <div class="box">
                <div class="form-box">
                    <h2>LOGIN</h2>
                    <form method="post" id="form">
                        <div class="input-group">
                            <input type="email" name="email" id="email" placeholder=" " required>
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-group">
                            <input type="password" name="senha" id="senha" placeholder=" " required>
                            <label for="senha">Senha</label>
                        </div>
                        <a href="/cadastro">Não possui conta? Cadastre-se agora!</a>
                        <div class="input-group button-group entrar">
                            <input type="submit" value="Entrar" id="env">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>